:root {
  --light: #FCFAFA;
  --grape: #9C89B8;
  --bg-dark: #231942;
  --pinegeen: #0CCA4A;
  --melon: #F9B5AC;
  --alpha-white-7: rgba(255, 255, 255, 0.7);
  --alpha-white-6: rgba(255, 255, 255, 0.6);
}